body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Playfair Display', serif;
}
#wrapper {
	position: relative;
	margin: 0;
}
#content {
	background-color: rgb(240, 240, 240);
	position: absolute;
	top: 100;
	left: 50;
	height: 70%;
	width: 350px;
    box-shadow: 2px 2px 5px black;
    overflow: scroll;
}

h1 {
	font-size: 60px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.item {
    width: 330px;
    margin-left: 5px;
    height: 200px;
    box-shadow: 2px 2px 5px black;
}

.item_header {
    margin-left: 10px;
}

.item_text {
    margin-left: 10px;
    height: 145px;
}

.scrollable {
    overflow: scroll;
}






