body {
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Playfair Display', serif;
}
#wrapper {
	position: relative;
	margin: 0;
}
#content {
	background-color: rgb(240, 240, 240);
	position: absolute;
	top: 50;
	left: 20;
	height: 170px;
	width: 300px;
	box-shadow: 2px 2px 5px black;
	text-align: center;
}

h1 {
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}
p {
	font-size: 20px;
}

#link_container {
	font-size: 15px;
	border: 1px solid red;
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: black;
}




